$bg-primary: #7d5fff;
$white: #ffffff;
$size-medium: 18px;

.mainContainer {
    padding: 5px;
    border-radius: 3px;
}
.btn {
    font-weight: bold;
    color: $white;
    font-size: $size-medium;
    text-align: center;
}

.bg_primary {
    background-color: $bg-primary;
}

.mediumText {
    font-size: 16px;
    font-weight: bold;
}

.paginationBtn{
    font-weight: bold;
    padding: 0.5rem;
    text-align: center;
    color: $white;
    display: flex;
    flex-direction: row;
    min-width: 60px;
    border-radius: 0.25rem;
}
